@media screen and (max-width:730px) {
    .sign-up{
        flex-direction: column-reverse;
        width: 100%;
        max-width: 100%;
        justify-content: flex-end; 
           
    }

    .sign-up .message{
        width: 100%;
    }

    .sign-up .form{
        width: 100%;
    }

    .sign-up .message h1{
        display: none;
    }

    .sign-up .message p{
        display: none;
    }

    .sign-up .form{
        width: 100%;
        padding-top: 10vh;
    }
}